<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.citi_team_one.tps.mapper.UserMapper" >
    <resultMap id="UserResultMap" type="com.citi_team_one.tps.model.User" >
        <constructor >
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="pwd" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="role_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
        </constructor>
    </resultMap>
    <sql id="User_Column_List" >
        id, name, pwd, role_id
    </sql>

    <select id="doFindAll" resultMap="UserResultMap">
        select
        <include refid="User_Column_List" />
        from user
    </select>

    <select id="doFindByName" resultMap="UserResultMap" parameterType="java.lang.String" >
        select
        <include refid="User_Column_List" />
        from user
        where name = #{name,jdbcType=VARCHAR}
    </select>

    <select id="doFindById" resultMap="UserResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="User_Column_List" />
        from user
        where id = #{id,jdbcType=INTEGER}
    </select>

    <insert id="doAddUser" parameterType="com.citi_team_one.tps.model.User" >
        insert into user (id, name, pwd,
        role_id)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR},
        #{roleId,jdbcType=INTEGER})
        <selectKey resultType="Integer" keyProperty="id" >
            SELECT @@IDENTITY AS ID
        </selectKey>
    </insert>

    <select id="selectByPrimaryKey" resultMap="UserResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="User_Column_List" />
        from user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from user
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.citi_team_one.tps.model.User" >
        insert into user (id, name, pwd,
        role_id)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR},
        #{roleId,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.citi_team_one.tps.model.User" >
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="pwd != null" >
                pwd,
            </if>
            <if test="roleId != null" >
                role_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null" >
                #{pwd,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null" >
                #{roleId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.citi_team_one.tps.model.User" >
        update user
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null" >
                pwd = #{pwd,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null" >
                role_id = #{roleId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.citi_team_one.tps.model.User" >
        update user
        set name = #{name,jdbcType=VARCHAR},
        pwd = #{pwd,jdbcType=VARCHAR},
        role_id = #{roleId,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>