<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.citi_team_one.tps.mapper.UserMapper" >
    <resultMap id="BaseResultMap" type="com.citi_team_one.tps.model.User" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="pwd" property="pwd" jdbcType="VARCHAR" />

    </resultMap>
    
    <sql id="Base_Column_List" >
        id, name, email, pwd
    </sql>

    <select id="doFindByName"  parameterType="java.lang.String"  resultMap="BaseResultMap"  >
        SELECT
        <include refid="Base_Column_List" />
        FROM users WHERE name =  #{name}
    </select>

    <select id="doFindAll" resultMap="BaseResultMap"  >
       SELECT 
       <include refid="Base_Column_List" />
	   FROM users
    </select>

    <select id="getOne" parameterType="java.lang.String" resultMap="BaseResultMap" >
        SELECT 
       <include refid="Base_Column_List" />
	   FROM users
	   WHERE id = #{id}
    </select>

</mapper>